[submodule "Libs/sol2"]
	path = Libs/sol2
	url = https://github.com/ThePhD/sol2
[submodule "Libs/lua"]
	path = Libs/lua
	url = https://github.com/lua/lua
[submodule "Libs/catch2"]
	path = Libs/catch2
	url = git@github.com:catchorg/Catch2.git
